<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quad Core</title>

    <!-- Google Font -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet"> -->

    <!-- Css Styles -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.min.css"  type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/font-awesome.min.css')}}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/flaticon.css')}}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/nice-select.css')}}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/owl.carousel.min.css')}}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/magnific-popup.css')}}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/slicknav.min.css')}}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css')}}">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="logo">
                <a href="{{ url_for('index') }}">Quad Core</a>
            </div>
            <nav class="main-menu mobile-menu">
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('flights') }}">Flights</a></li>
                    <li><a href="{{ url_for('hotels') }}">Hotels</a></li>
                    <li><a href="{{ url_for('train') }}">Trains</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <div class="header-right">
                <div class="user-access">
                        {% if current_user.is_authenticated%}
                        <div class="dropdown" style="margin-right: 20px;">
                                <button class="dropbtn" style="font-size: 20px;">Hi, {{ current_user.username }} <i class="arrow down"></i></button>
                                <div class="dropdown-content">
                                    <a href="{{ url_for('myaccount') }}">My Account</a>
                                    <a href="{{ url_for('myorders') }}"  class="navbar-item">
                                        My Orders
                                    </a>
                                    
                                  <a href="{{ url_for('logout') }}">Logout</a>
                                </div>
                              </div>
                    {%else%}
                    <a href="{{ url_for('register') }}">Register/</a>
                    <a href="{{ url_for('login') }}">Login</a>
                </div>
                {%endif%}
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero-section set-bg fs" data-setbg="/static/img/hero-bg.jpg">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
       {% block content %}
                {% endblock %}
    </section>
    <!-- Hero Section End -->

   



    <!-- Footer Section Begin -->
    <footer class="footer-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form action="#" class="newslatter-form">
                        <input type="text" placeholder="Your email address">
                        <button type="submit">Subscribe to our Newsletter</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>Usefull Links</h4>
                        <ul>
                            <li>About us</li>
                            <li>Testimonials</li>
                            <li>How it works</li>
                            <li>Create an account</li>
                            <li>Our Services</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>Categories</h4>
                        <ul>
                            <li>Hotels</li>
                            <li>Restaurant</li>
                            <li>Spa & resorts</li>
                            <li>Concert & Events</li>
                            <li>Bars & Pubs</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>Usefull Links</h4>
                        <ul>
                            <li>About us</li>
                            <li>Testimonials</li>
                            <li>How it works</li>
                            <li>Create an account</li>
                            <li>Our Services</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>From the Blog</h4>
                        <div class="single-blog">
                            <div class="blog-pic">
                                <img src="/static/img/f-blog-1.jpg" alt="">
                            </div>
                            <div class="blog-text">
                                <h6>10 Best clubs in town</h6>
                                <span>March 27, 2019</span>
                            </div>
                        </div>
                        <div class="single-blog">
                            <div class="blog-pic">
                                <img src="/static/img/f-blog-2.jpg" alt="">
                            </div>
                            <div class="blog-text">
                                <h6>10 Best clubs in town</h6>
                                <span>March 27, 2019</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer-bottom">
                <div class="col-lg-5 order-2 order-lg-1">
                    <div class="copyright"><p class="text-white">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <!-- Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a> -->
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p></div>
                </div>
                <div class="col-lg-7 text-center text-lg-right order-1 order-lg-2">
                    <div class="footer-menu">
                        <a href="#">Home</a>
                        <a href="#">Explore</a>
                        <a href="#">More Cities</a>
                        <a href="#">News</a>
                        <a href="#">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.js" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/date.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.slicknav.js')}}"></script>
    <script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.nice-select.min.js')}}"></script>
    <!-- <script src="{{url_for('static', filename='js/mixitup.min.js')}}"></script> -->
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>

</html>