<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-text">
                        <img src="/static/img/placeholder.png" alt="">
                        <h1>Where to next?</h1>
                        <form action="#" class="filter-search">
                            <div class="flight-mode">
                                <ul class="col-lg-12" style="display: inline-flex; list-style-type: none;">
                                        <input  type="radio" name="type" value="onewway"> One Way
                                        <input type="radio" name="type" value="roundtrip"> Round Trip
                                    <!-- <li class="col-lg-3">
                                        One Way
                                    </li>
                                    <li class="col-lg-3">Round Trip</li> -->
                                </ul>
                            </div>
                            <div class="category-search" style="width: calc(21% - 20px); !important">
                                <h5>From:</h5>
                                <select class="ca-search">
                                    <option>Restaurants</option>
                                    <option>Hotels</option>
                                    <option>Food & Drinks</option>
                                    <option>Home Delievery</option>
                                    <option>Commercial Shops</option>
                                </select>
                            </div>
                            <div class="category-search">
                                    <div class="location-search" style="width:50%;">
                                <h5>To:</h5>
                                <select class="lo-search">
                                    <option>New York</option>
                                </select>
                            </div>
                            <div class="category-search">
                                <div class="depart">
                                    <h5>Depart</h5>
                                    <select class="lo-search">
                                            <option>New York</option>
                                        </select>
                                </div>
                            </div>
                            <button type="submit" style="top:95px; !important">Search Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
