<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
        <div class="container" style="margin-top: 100px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-text">
                        <img src="/static/img/placeholder.png" alt="">
                        <h1>Where to next?</h1>
                        <form action="{{ url_for('flightsearch') }}" class="filter-search flights" method="POST" style="background-color: rgb)255,255,255,0.8);!important">
                            <div class="flight-mode">
                                <ul class="col-lg-12" style="display: inline-flex; list-style-type: none;">
                                        <input  type="radio" id="one" onchange="hide()" name="type" value="oneway" checked="checked"> One Way
                                        <input type="radio" id="round" onchange="hide1()" name="type" value="roundtrip"> Round Trip
                                </ul>
                            </div>
                            <div class="category-search" style="width: 25%; !important">
                                <h5>From:</h5>
                                <input type="text"  class="trainarrival" name="from" id="search"  placeholder="From" list="searchresults" autocomplete="off" style="background-color: transparent;
                                border: 1px solid white;
                                height: 50px;
                                width: 280px; color: white; padding: 25px;" >
                                <datalist  style="display: table-column;" id="searchresults" ></datalist>
                                <div class="category-search" style="width: 100%; margin-top:10px;">
                                <h6 style="color: white">Traveller(s) , class:  </h6>
                                <select id="abc" class="lo-search" >
                                        <option>Economy</option>
                                        <option>Buisness</option>
                                    </select>

                                </div>
                            </div>


                            <div class="category-search" style="width: 600px; !important">
                                    <div class="location-search" style="width:258px;     position: relative;
                                    top: 46px;">
                                <h5>To:</h5>
                                <input type="text"  class="trainarrival" name="to" id="to"  placeholder="To" list="searchresults1" autocomplete="off" style="background-color: transparent;
                                border: 1px solid white;
                                height: 50px;
                                width: 280px; color: white; padding: 25px;" >
                                <datalist  style="display: table-column;" id="searchresults1" ></datalist>

                            </div>
                            <div class="category-search" style="margin-left: 10px;width: 110px; !important ">
                                <div class="depart">
                                    <h5>Depart:</h5>
                                      <form>
                                      <input type="date"  name="tday" min={{dtoday}} style="font-size: 16px;
                                          font-size: 16px;
                                            width: 120px;
                                            font-weight: 500;
                                            height: 50px;
                                            color: white;
                                            background-color: transparent;
                                            border-right-width: 1px;
                                            border-right-color: lightsteelblue;" >
                                      </form>
                                 </div>
                            </div>
                            <div class="category-search" id="rday" style="opacity:0; margin-left: 10px; width: 110px; !important ">
                                    <div class="return">
                                        <h5>Return:</h5>
                                        <input type="date" id="rday1"  name="rday" min={{dtoday}} style="width: 120px;
                                        height: 50px;
                                        font-size: 16px;background-color: transparent;
                                        color: white;
                                        font-weight: 500;" disabled>
                                    </div>
                                </div>
                                <div class="category-search" style="width: 30%; margin-top:20px;">
                                        <h6 style="color: white">Adults:  </h6>
                                        <select id="abc" class="lo-search" >
                                                <option>1</option>
                                                <option>0</option>
                                            </select>

                                        </div>
                                        <div class="category-search" style="width: 30%; margin-top:20px;">
                                                <h6 style="color: white">Children  </h6>
                                                <select id="abc" class="lo-search" >
                                                        <option>0</option>
                                                        <option>1</option>
                                                    </select>

                                                </div>
                                                <div class="category-search" style="width: 30%; margin-top:20px;">
                                                        <h6 style="color: white">Infants  </h6>
                                                        <select id="abc" class="lo-search" >
                                                                <option>0</option>
                                                                <option>1</option>
                                                            </select>

                                                        </div>
                            <button type="submit" style="top:145px; !important">Search Now</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

{%set a="raipur" %}
<script>
    function hide(){
        document.getElementById("rday").style.opacity = "0";
        document.getElementById("rday1").disabled = true;
    }
    function hide1(){
        document.getElementById("rday").style.opacity = "1";
        document.getElementById("rday1").disabled = false;

    }


    function myFunction() {
      // Declare variables
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('myInput');
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      ul.style.display="block";
      li = ul.getElementsByTagName('li');

      // Loop through all list items, and hide those who don't match the search query
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }

    // function set(a){
    //     input = document.getElementById('myInput');
    //     input.value="Adele";
    //     if(a==1){
    //         input.value="{{a}}";
    //         ul = document.getElementById("myUL");
    //         ul.style.display="none";
    //     }
    // }
    </script>
 <template id="resultstemplate">
   <option> AGX - Agatti Island </option>
      <option> AMD - Ahmedabad </option>
      <option> AJL - Aizawl </option>
      <option> AKD - Akola </option>
      <option> IXV - Along </option>
      <option> LKO - Lucknow </option>
      <option> LUH - Ludhiana </option>
      <option> IXB - Bagdogra </option>
      <option> IXE - Mangalore </option>
      <option> IXL - Leh </option>
      <option> RGH - Balurghat </option>
      <option> IXD - Allahabad </option>
      <option> SHL - Shillong </option>
      <option> BEK - Bareli </option>
      <option> BEP - Bellary </option>
      <option> BLR - Bangalore </option>
      <option> BUP - Bhatinda </option>
      <option> BHU - Bhavnagar </option>
      <option> BHO - Bhopal </option>
      <option> BBI - Bhubaneswar </option>
      <option> BKB - Bikaner </option>
      <option> PAB - Bilaspur </option>
      <option> IXR - Ranchi </option>
      <option> GAU - Guwahati </option>
      <option> CBD - Car Nicobar </option>
      <option> IXC - Chandigarh </option>
      <option> MAA - Chennai </option>
      <option> BOM - Mumbai </option>
      <option> IXU - Aurangabad </option>
      <option> COK - Kochi </option>
      <option> COH - Cooch Behar </option>
      <option> CDP - Cuddapah </option>
      <option> UDR - Udaipur </option>
      <option> GOI - Goa </option>
      <option> NMB - Daman </option>
      <option> DAE - Daparizo </option>
      <option> DAI - Darjeeling </option>
      <option> DED - Dehra Dun </option>
      <option> DEP - Deparizo </option>
      <option> IDR - Indore </option>
      <option> DBD - Dhanbad </option>
      <option> DIB - Dibrugarh </option>
      <option> DMU - Dimapur </option>
      <option> DIU - Diu </option>
      <option> DHM - Dharamsala </option>
      <option> ISK - Nasik </option>
      <option> GAY - Gaya </option>
      <option> GOP - Gorakhpur </option>
      <option> JGA - Jamnagar </option>
      <option> GUX - Guna </option>
      <option> GWL - Gwalior </option>
      <option> HSS - Hissar </option>
      <option> HBX - Hubli </option>
      <option> HYD - Hyderabad </option>
      <option> DEL - New Delhi </option>
      <option> JLR - Jabalpur </option>
      <option> JGB - Jagdalpur </option>
      <option> JSA - Jaisalmer </option>
      <option> PYB - Jeypore </option>
      <option> JDH - Jodhpur </option>
      <option> IXH - Kailashahar </option>
      <option> IXQ - Kamalpur </option>
      <option> IXY - Kandla </option>
      <option> KNU - Kanpur </option>
      <option> IXK - Keshod </option>
      <option> HJR - Khajuraho </option>
      <option> AGR - Agra </option>
      <option> IXN - Khowai </option>
      <option> KLH - Kolhapur </option>
      <option> KTU - Kota </option>
      <option> CCJ - Kozhikode </option>
      <option> KUU - Bhuntar Kullu. </option>
      <option> IXS - Silchar </option>
      <option> IXI - Lilabari </option>
      <option> PNQ - Pune </option>
      <option> IXM - Madurai </option>
      <option> LDA - Malda </option>
      <option> MOH - Mohanbari </option>
      <option> IMF - Imphal </option>
      <option> MZA - Muzaffarnagar </option>
      <option> MZU - Muzaffarpur </option>
      <option> MYQ - Mysore </option>
      <option> NDC - Nanded </option>
      <option> CCU - Kolkata </option>
      <option> NVY - Neyveli </option>
      <option> OMN - Osmanabad </option>
      <option> PGH - Pantnagar </option>
      <option> IXT - Pasighat </option>
      <option> IXP - Pathankot </option>
      <option> PAT - Patna </option>
      <option> CJB - Coimbatore </option>
      <option> PNY - Pondicherry </option>
      <option> PBD - Porbandar </option>
      <option> IXZ - Port Blair </option>
      <option> PUT - Puttaparthi </option>
      <option> RPR - Raipur </option>
      <option> ATQ - Amritsar </option>
      <option> RJA - Rajahmundry </option>
      <option> RAJ - Rajkot </option>
      <option> RJI - Rajouri </option>
      <option> RMD - Ramagundam </option>
      <option> RTC - Ratnagiri </option>
      <option> REW - Rewa </option>
      <option> RRK - Rourkela </option>
      <option> JRH - Jorhat </option>
      <option> BHJ - Bhuj </option>
      <option> RUP - Rupsi </option>
      <option> SXV - Salem </option>
      <option> TEZ - Tezpur </option>
      <option> IXG - Belgaum </option>
      <option> JAI - Jaipur </option>
      <option> TNI - Satna </option>
      <option> IXJ - Jammu </option>
      <option> SSE - Sholapur </option>
      <option> SLV - Simla </option>
      <option> IXA - Agartala </option>
      <option> IXW - Jamshedpur </option>
      <option> NAG - Nagpur </option>
      <option> SXR - Srinagar </option>
      <option> STV - Surat </option>
      <option> TEI - Tezu </option>
      <option> TJV - Thanjavur </option>
      <option> TRV - Trivandrum </option>
      <option> TIR - Tirupati </option>
      <option> TRZ - Trichy </option>
      <option> TCR - Tuticorin </option>
      <option> BDQ - Vadodara </option>
      <option> VNS - Varanasi </option>
      <option> VGA - Vijayawada </option>
      <option> VTZ - Vishakhapatnam </option>
      <option> WGC - Warangal </option>
      <option> ZER - Zero </option>
</template >

<template id="resultstemplate1">
  <option> AGX - Agatti Island </option>
     <option> AMD - Ahmedabad </option>
     <option> AJL - Aizawl </option>
     <option> AKD - Akola </option>
     <option> IXV - Along </option>
     <option> LKO - Lucknow </option>
     <option> LUH - Ludhiana </option>
     <option> IXB - Bagdogra </option>
     <option> IXE - Mangalore </option>
     <option> IXL - Leh </option>
     <option> RGH - Balurghat </option>
     <option> IXD - Allahabad </option>
     <option> SHL - Shillong </option>
     <option> BEK - Bareli </option>
     <option> BEP - Bellary </option>
     <option> BLR - Bangalore </option>
     <option> BUP - Bhatinda </option>
     <option> BHU - Bhavnagar </option>
     <option> BHO - Bhopal </option>
     <option> BBI - Bhubaneswar </option>
     <option> BKB - Bikaner </option>
     <option> PAB - Bilaspur </option>
     <option> IXR - Ranchi </option>
     <option> GAU - Guwahati </option>
     <option> CBD - Car Nicobar </option>
     <option> IXC - Chandigarh </option>
     <option> MAA - Chennai </option>
     <option> BOM - Mumbai </option>
     <option> IXU - Aurangabad </option>
     <option> COK - Kochi </option>
     <option> COH - Cooch Behar </option>
     <option> CDP - Cuddapah </option>
     <option> UDR - Udaipur </option>
     <option> GOI - Goa </option>
     <option> NMB - Daman </option>
     <option> DAE - Daparizo </option>
     <option> DAI - Darjeeling </option>
     <option> DED - Dehra Dun </option>
     <option> DEP - Deparizo </option>
     <option> IDR - Indore </option>
     <option> DBD - Dhanbad </option>
     <option> DIB - Dibrugarh </option>
     <option> DMU - Dimapur </option>
     <option> DIU - Diu </option>
     <option> DHM - Dharamsala </option>
     <option> ISK - Nasik </option>
     <option> GAY - Gaya </option>
     <option> GOP - Gorakhpur </option>
     <option> JGA - Jamnagar </option>
     <option> GUX - Guna </option>
     <option> GWL - Gwalior </option>
     <option> HSS - Hissar </option>
     <option> HBX - Hubli </option>
     <option> HYD - Hyderabad </option>
     <option> DEL - New Delhi </option>
     <option> JLR - Jabalpur </option>
     <option> JGB - Jagdalpur </option>
     <option> JSA - Jaisalmer </option>
     <option> PYB - Jeypore </option>
     <option> JDH - Jodhpur </option>
     <option> IXH - Kailashahar </option>
     <option> IXQ - Kamalpur </option>
     <option> IXY - Kandla </option>
     <option> KNU - Kanpur </option>
     <option> IXK - Keshod </option>
     <option> HJR - Khajuraho </option>
     <option> AGR - Agra </option>
     <option> IXN - Khowai </option>
     <option> KLH - Kolhapur </option>
     <option> KTU - Kota </option>
     <option> CCJ - Kozhikode </option>
     <option> KUU - Bhuntar Kullu. </option>
     <option> IXS - Silchar </option>
     <option> IXI - Lilabari </option>
     <option> PNQ - Pune </option>
     <option> IXM - Madurai </option>
     <option> LDA - Malda </option>
     <option> MOH - Mohanbari </option>
     <option> IMF - Imphal </option>
     <option> MZA - Muzaffarnagar </option>
     <option> MZU - Muzaffarpur </option>
     <option> MYQ - Mysore </option>
     <option> NDC - Nanded </option>
     <option> CCU - Kolkata </option>
     <option> NVY - Neyveli </option>
     <option> OMN - Osmanabad </option>
     <option> PGH - Pantnagar </option>
     <option> IXT - Pasighat </option>
     <option> IXP - Pathankot </option>
     <option> PAT - Patna </option>
     <option> CJB - Coimbatore </option>
     <option> PNY - Pondicherry </option>
     <option> PBD - Porbandar </option>
     <option> IXZ - Port Blair </option>
     <option> PUT - Puttaparthi </option>
     <option> RPR - Raipur </option>
     <option> ATQ - Amritsar </option>
     <option> RJA - Rajahmundry </option>
     <option> RAJ - Rajkot </option>
     <option> RJI - Rajouri </option>
     <option> RMD - Ramagundam </option>
     <option> RTC - Ratnagiri </option>
     <option> REW - Rewa </option>
     <option> RRK - Rourkela </option>
     <option> JRH - Jorhat </option>
     <option> BHJ - Bhuj </option>
     <option> RUP - Rupsi </option>
     <option> SXV - Salem </option>
     <option> TEZ - Tezpur </option>
     <option> IXG - Belgaum </option>
     <option> JAI - Jaipur </option>
     <option> TNI - Satna </option>
     <option> IXJ - Jammu </option>
     <option> SSE - Sholapur </option>
     <option> SLV - Simla </option>
     <option> IXA - Agartala </option>
     <option> IXW - Jamshedpur </option>
     <option> NAG - Nagpur </option>
     <option> SXR - Srinagar </option>
     <option> STV - Surat </option>
     <option> TEI - Tezu </option>
     <option> TJV - Thanjavur </option>
     <option> TRV - Trivandrum </option>
     <option> TIR - Tirupati </option>
     <option> TRZ - Trichy </option>
     <option> TCR - Tuticorin </option>
     <option> BDQ - Vadodara </option>
     <option> VNS - Varanasi </option>
     <option> VGA - Vijayawada </option>
     <option> VTZ - Vishakhapatnam </option>
     <option> WGC - Warangal </option>
     <option> ZER - Zero </option>
</template >

<script>
        var search = document.querySelector('#search');
        var results = document.querySelector('#searchresults');
        var templateContent = document.querySelector('#resultstemplate').content;
        search.addEventListener('keyup', function handler(event) {
        while (results.children.length) results.removeChild(results.firstChild);
        var inputVal = new RegExp(search.value.trim(), 'i');
        var set = Array.prototype.reduce.call(templateContent.cloneNode(true).children, function searchFilter(frag, item, i) {
            if (inputVal.test(item.textContent) && frag.children.length < 6) frag.appendChild(item);
            return frag;
        }, document.createDocumentFragment());
        results.appendChild(set);
        });
      </script>

      <script>
        var to = document.querySelector('#to');
        var results1 = document.querySelector('#searchresults1');
        var templateContent1 = document.querySelector('#resultstemplate1').content;
        to.addEventListener('keyup', function handler(event) {
        while (results1.children.length) results1.removeChild(results1.firstChild);
        var inputVal1 = new RegExp(to.value.trim(), 'i');
        var set1 = Array.prototype.reduce.call(templateContent.cloneNode(true).children, function searchFilter(frag, item, i) {
            if (inputVal1.test(item.textContent) && frag.children.length < 6) frag.appendChild(item);
            return frag;
        }, document.createDocumentFragment());
        results1.appendChild(set1);
        });
      </script>

        {% endblock %}
