{% extends "base.html" %}

{% block content %}

<div class="container" style="background-color:rgb(0,0,0,0.6); height:700px; overflow:auto;">
<form action="{{ url_for('hotelsearch') }}"   method="POST">
<div class="hotelsearch row" style="margin-top: 20px;">
                <input type="text" class="col-lg-4" style="    margin-left: 20px;
        border-radius: 10px;
        height: 40px;">
        <input type="text" placeholder="{{inday}}"
        onfocus="(this.type='date')" style="height: 40px;
        background-color: white;
        border-radius: 10px;
        margin-left: 15px;width: 190px;"> 
      <input type="text" placeholder="{{outday}}"
      onfocus="(this.type='date')" style="height: 40px;
      background-color: white;
      border-radius: 10px;
      margin-left: 15px;width: 190px;"> 

                <button class="col-lg-2" type="submit" style="        color: #fff;
                background: #FF5581;
                height: 40px;
                margin-left: 80px;
                cursor: pointer;
                border-radius: 10px;
                border: 1px solid #FF5581;">Search Now</button>

    </div>
</form>

{%for row in row%}
<a href="/hoteldescription?hotelid={{loop.index-1}}">
<div class="hotels row col-lg-12" style="   right: 15px;
margin-top: 50px;
background-color: rgb(255,255,255,0.9);
height: 200px;
margin-left: 15px;
border-radius: 10px;
top: auto;
padding-top: 14px;">
    <div><img src="{{row[4]}}" style="width: 302px;
        height: 170px;"> </div>
        <div style="width: 770px; padding-left: 20px;"><h4>{{row[1]}}</h4>
        <h5>{{row[2]}}</h5>
        <h6 style="margin-top: 95px;">{{row[5]}} {{row[6]}} ({{row[7]}} Reviews)</h6>
        <h4 style="    position: relative;
        top: -160px;
        left: 650px;">Rs {{row[3]}}</h4>

    </div>


</div>

</a>
{%endfor%}

</div>


{% endblock %}