<!-- templates/index.html -->

{% extends "base.html" %}



{% block content %}
        <div class="container" style="margin-top: 100px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-text">
                        <img src="/static/img/placeholder.png" alt="">
                        <h1>Where to next?</h1>
                        <form action="/type" class="filter-search">
                            <div class="category-search">
                                <h5>Search Category</h5>
                                <select name="type" class="ca-search selectize">
                                   <a href="{{ url_for('flights') }}"><option>Flights</option></a> 
                                   <a href="{{ url_for('hotels') }}"> <option>Hotels</option></a>
                                   <a href="{{ url_for('train') }}"> <option>Trains</option></a>
                                </select>
                            </div>
                            <div class="location-search">
                                <h5>Your Location</h5>
                                <select class="lo-search">
                                    <option>Select on the go</option>
                                </select>
                            </div>
                            
                            <div id="myDropdown" class="dropdown-content">
                                    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                                    <a href="#about">About</a>
                                    <a href="#base">Base</a>
                                    <a href="#blog">Blog</a>
                                    <a href="#contact">Contact</a>
                                    <a href="#custom">Custom</a>
                                    <a href="#support">Support</a>
                                    <a href="#tools">Tools</a>
                                  </div>
                                    

                            <button type="submit">Search Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
<script>function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
          txtValue = a[i].textContent || a[i].innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
          } else {
            a[i].style.display = "none";
          }
        }
      }</script>

        
    
        
        {% endblock %}


