<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-text">
                        <img src="/static/img/placeholder.png" alt="">
                        <h1>Where to next?</h1>
                        <form action="#" class="filter-search">
                            <div class="category-search">
                                <h5>Search Category</h5>
                                <select class="ca-search">
                                    <option>Restaurants</option>
                                    <option>Hotels</option>
                                    <option>Food & Drinks</option>
                                    <option>Home Delievery</option>
                                    <option>Commercial Shops</option>
                                </select>
                            </div>
                            <div class="location-search">
                                <h5>Your Location</h5>
                                <select class="lo-search">
                                    <option>New York</option>
                                </select>
                            </div>
                            <button type="submit">Search Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
