<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<div class="container" style="color:white;">
    <div class="row login">
        <div class="col-lg-12 text-center">
            <h1>Login</h1>
                <form action="" method="post" novalidate class="filter-search text-center">
                <div>
                {{ form.hidden_tag() }}

                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
        
                <div style="margin-top: 10px;">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
                </div>
                <div style="margin-top: 10px;">
                 {{ form.remember(class="form-check-input") }}
                            {{ form.remember.label(class="form-check-label") }}<br>
                        
                        <div style="margin-top: 10px;">{{ form.submit(class="signup") }}</div>
                        <div style="margin-top:10px; "><a href="{{ url_for('oauth_authorize', provider='google') }}"><img style="height:40px; width:auto;"   src="static/img/google_signin.png" /></a></div>

                    
                    </form>
            </div>
            </div>
</div>
{% endblock %}

