<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<div class="myaccount container">
    <div class="row">
        <div class="col-lg-6 myacc" style="border-right: 1px solid #35333c;">
            <div class="text-center">
                    <img src="/static/img/modifybooking.png" style="max-width: 100%; height: 60px;"> 
                    <h4 style="color: white; margin-top:10px;">Modify Booking</h5>
                </div>
                        <ul class="manage-booking">
                                <li>Cancel</li>
                                <li>Reschedule</li>
                                <li>Cancellation Charges</li>
                                <li>Reschedule Charges</li>
                            </ul>
                    </div>
                    

        <div class="col-lg-6 myacc">
                <div class="text-center">
                        <img src="/static/img/modifybooking.png" style="max-width: 100%; height: 60px;"> 
                        <h4 style="color: white; margin-top:10px;">Tickets</h5>
                    </div>
                            <ul class="manage-booking">
                                <li>SMS/Email Ticket</li>
                                <li>Print Ticket</li>
                                <li>Print Receipt</li>
                            </ul>
            </div>


    </div>

</div>

{% endblock %}
