<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<div class="myorders container">
    <div class="row" style="height: 350px;">
        <div class="col-lg-4 myacc" style="border-right: 1px solid white;">
            
                    </div>
        <div class="col-lg-4 myacc" style="border-right: 1px solid white;">
            
            </div>      

        <div class="col-lg-4 myacc">
                
            </div>
            


    </div>

</div>

{% endblock %}
