{% extends "base.html" %}

{% block content %}
    <h3 style="font-family: Helvetica, sans-serif">Reset Password</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p style="font-family:Arial, Helvetica, sans-serif">
            {{ form.email.label }} :
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
