{% extends "base.html" %}

{% block content %}
    <h3>Reset Your Password</h3>
    <form style="text-align:justify;  " action="" method="post">
        {{ form.hidden_tag() }}
        <p style="margin-left: 300px;">
            {{ form.password.label }} :
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p style="margin-left: 225px;">
            {{ form.password2.label }} :
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p style="margin-left: 440px;">{{ form.submit() }}</p>
    </form>
{% endblock %}
