{% extends "base.html" %}

{% block content %}
<div class=" container booking" style="height:700px;  overflow: auto;">
    <div class="row">
        <h4 style="color: #FF5581; margin-left: 30px; margin-top: 20px;"> Review Your Booking</h4>
        <h4 style="color: #FF5581; margin-left: 330px; margin-top: 20px;">                                      PNR:{{pnr}}</h4>
        <div class="flightresult row text-center"  style="height: 130px; margin-right: 0px;
    margin-left: 0px;background-color: rgba(255, 255, 255, 0.6);
    padding-top: 30px; margin-top: 50px; width: 1120px; height: 170px; margin-bottom: 30px; border-radius: 15px 15px 15px 15px;">
        <div class="col-lg-3 text-center" style="top:15px;">
            
            <h4>{{row[0]}}</h4>
            <h6>{{row[1]}}</h6>
            <h6>{{row[2]}}</h6>

            </div>
    <div class="col-lg-2" style="    top: 15px;">
        <h5>{{row[10]}}</h5>
        <h6>__________</h6>
        <h4 style=" margin-top: 5px;">{{row[9]}}  </h4>

    </div>
    <div class="col-lg-4 text-center" style="    top: 15px;">
                <h6 style="font-size: 16px; position:relative; left: 0px; margin-bottom: -5px; ">
                 {{row[5]}}
                </h6>
                <h6 style="margin-bottom: 5px;
                ">_______________________________</h6>
                </h6>
                <h6>{{row[8][0]}} | {{row[8][2]}}</h6>
    </div>
    <div class="col-lg-3 text-center" style="    top: 15px;">
            <h5>{{row[12]}}</h5>
        <h6>__________</h6>
        <h4 style=" margin-top: 5px;">{{row[11]}}</h4>

    </div>
    
        
    </div>

    <div class="row1">
            <h4 style="color: #FF5581; margin-left: 45px; margin-top: 20px;"> Enter Traveller Details </h4>
            <div class="flightresult row"  style="height: 130px; margin-right: 0px;
        margin-left: 5px;background-color: rgba(255, 255, 255, 0.6);
        padding-top: 30px; margin-top: 50px; width: 1120px; height: 800px; border-radius: 15px 15px 15px 15px;
        font-family:'Times New Roman', Times, serif">
            <div class="row col-lg-12" style="height: 110px;">
            <div class="col-lg-3 text-right " style=" top: 20px;">
                <h4>Contact Details:</h4>
                </div>
        <div class="col-lg-3 text-left" style=" top: 15px;">
                <input name="email" type="email" placeholder="{{row[14][0]}}">
        </div>
        <div class="col-lg-4 text-center" style="    top: 15px;">
                <input name="phone" type="number" placeholder="{{row[14][1]}}" style="width: 100%;
                height: 40px;" >
        </div>
        <div class="col-lg-12 text-center">
                Your booking details will be sent to this email address and mobile number.
        </div>
        
    </div>
    <div class="row col-lg-12" style="height: 1px; top:-50px;" >
        <div class="col-lg-12 text-center">
            <h4>Traveller Information</h4>
            <h6 style="margin-top: 20px; font-size:14px;">Important Note: Please ensure that the names of the passengers on the travel documents is the same as on their government issued identity proof.</h6>
        </div>
    </div>
    <div class="row col-lg-12" style=" top:-50px;" >
            <div class="col-lg-3 text-right " style=" top: 20px;">
                    <h4>Adult 1:</h4>
                    </div>
                <div class="col-lg-4 text-left" style=" top: 15px;">
                                <select name="title" class="ca-search" style="border-radius: 0px;">
                                                <option>{{row[14][2]}}</option>
                                            </select>
                        <input name="firstname" type="text" placeholder="{{row[14][3]}}" style="    width: 70%;
                        height: 40px;" disabled>
                </div>
            
            <div class="col-lg-3 text-center" style="margin-left: -50px;    top: 15px;">
                    <input name="lastname" type="text" placeholder="{{row[14][4]}}" style="    width: 227px;
                    height: 40px;" disabled >
            </div>
    </div>

    <div class="row col-lg-12" style="top: -50px;
    border-top: 2px solid #ed517f;
    margin-left: 0px; padding-top: 20px;" >
    <div class="col-lg-12 text-center">
            <h4>Fare Details</h4></div>
        
            
            <div class="col-lg-12 text-center" style="margin-left:    top: 15px;">
                    <h4>Total Fare: {{row[8][1]}}</h4>
            </div>
            </div>
    </div>



        
            
        </div>

</div>



{% endblock %}
